<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {{>refLinks}}
  </head>
  <body>
    {{>navbar}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right">
              <h1>This is Image</h1>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h2>I am a  <span>MERN Stack dev</span> and student</h2>
              <a href="/weather"> <button>Check Now</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>
